/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Make sure navbar spans entire width of page*/
.navbar {
    width: 100%;
}

/* Center and space out the Check Out heading */
#checkout-title {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Main content grid layout */
.main-content {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-rows: auto;
}

/* Styles for each main content section */
section, article, aside {
    background-color: #EFC1C7;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;

}

/* Adjustments for larger screens and repositioning each section*/
@media screen and (min-width: 768px) {
    .main-content {
        grid-template-columns: 1fr 1fr;
    }

    .contact-info {
        grid-column: 1;
        grid-row: 1;

    }

    .payment-info {
        grid-column: 1;
        grid-row: 2;
    }

    .cart-summary {
        grid-column: 2;
        grid-row: 1 / span 2;
    }
}

.contact-info form {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Spacing out labels/inputs in the Contact Information section */
.contact-info input {
    display: block;
    margin-bottom: 15px;
    padding: 5px 0;
    width: 100%;
}

/* Resizing images in cart summary section */
.cart-summary img {
    border: solid;
    border-color: #814B1B;
}

/* Changing font of cart summary section */
.cart-summary p {
    width: 100%; /* Make <p> elements take up the full width of the cart summary section */
    padding: 5px 0; /* Add some vertical padding for better spacing */
    font-size: larger;
}

/* PayPal button style*/
button {
    background-color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}