/* I changed the color of my paragraphs to saddlebrown and
   and the font into courier. */
p {
    color: saddlebrown;
    font-family: Courier, serif;
}

/* I changed my heading 2 color into red
   and the font into Din Condensed*/
h2 {
    color: red;
    font-family: "DIN Condensed", serif;
}

/* I added a border to my table*/
table {
    border-width: 5px;
    border-style: solid;
    border-radius: inherit;
    border-color: blue;
}

p#new{
    color: blueviolet;
}

.special {
    color: chocolate;
    font-family: AkayaTelivigala, sans-serif;
    font-size: medium;
}

img.logo {
    width: 267px;
    height: 72px;
    border-width: 5px;
    border-style: solid;
    border-color: red;
}



