<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1> About Me: Victor Lee </h1>
    <!-- An introduction to my major and graduating month.-->
    <h2> Basic Introduction </h2>
        <p> I am a senior studying <em> Business Management </em> and <em> Information Systems </em>.
            I am graduating in <strong> May 2024 </strong> </p>
    <h2> Interest Fact </h2>
        <p> I studied abroad in <strong> Singapore </strong> for four months between <em> January </em> to <em> April</em> 2024
            It was an <strong> extremely </strong> great experience!</p>
    <!--A list of my favorite vacation spot in the last 6 years-->
    <h2> Favorite Vacation Spot! </h2>
         <ol>
             <li> Santorini, Greece </li>
             <li> Tokyo, Japan </li>
             <li> Shanghai, China </li>
             <li> Amsterdam, Netherlands </li>
         </ol>
     <!--My favorite food items but not in any specific order-->
    <h2> Favorite Food </h2>
        <ul>
            <li> Ramen </li>
            <li> Pizza </li>
            <li> Chicken Wings </li>
            <li> Pho </li>
        </ul>
    <h2> Courses </h2>
        <table>
            <tr>
                <th> Course Name </th>
                <th> Semester </th>
            </tr>
            <tr>
                <td> BMGT 402 </td>
                <td> Fall 2024 </td>
            </tr>
            <tr>
                <td> BMGT 403 </td>
                <td> Fall 2024 </td>
            </tr>
            <tr>
                <td> BMGT 407 </td>
                <td> Spring 2024 </td>
            </tr>
        </table>
    <h2> My Hello Page </h2>
        <p> A link to the <a href="/hello"> Hello Page</a>.</p>
    <h2> Favorite Website </h2>
        <p> A link to <a href="https://www.youtube.com/"> Youtube </a>.</p>
        <p> A link to <a href="https://www.google.com/" target="_blank"> Google </a>.</p>
    <h2>Smith Logo:</h2>
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
             width="267" height="72" alt="Smith Logo">
</body>
</html>