{% extends 'home.html' %}

{% block page_title %}About{% endblock %}

{% block page_content %}

<!--About Context-->
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <!-- Title -->
    <div class="about-title">
         <h1> About Me </h1>
    </div>
    <!-- client picture and contact -->
    <div class="client">
        <img src="/static/assets/Daya.jpeg" width="430" height="430" alt="client.picture">
        <p> Number: (123)-465-7890 </p>
        <p>Email: DessertbyDaya@gmail.com </p>
    </div>
    <!-- business description -->
    <div class="description">
    <p>
        Welcome to DessertbyDaya! Started in January of 2022 by Daya Novich,
        we specialize in diary free and 100% kosher products. DessertbyDaya offers
        a diverse selection of baked goods such as cookies, cakes, lemon bars, and more!
    </p>
    <p>We welcome custom orders and specific requests from our customers,
        so feel free to reach out with any questions or special inquiries!
    </p>
    </div>
{% endblock %}





