{% extends 'base.html' %}

{% block page_title %}Custom Orders{% endblock %}

{% block page_content %}
      <!-- Add css styling through product css page -->
   <link rel="stylesheet" href="/css/product.css">
<div class="styling">
<h1 class="custom-h1">Custom Orders</h1>
<!-- Add custom order 1: cinnamon rolls -->
<h2 class="custom-h2">Custom Order 1</h2>
</div>
<div class="container">
    <div class="row">
      <div class="border-box col-2">
        Product
      </div>
      <div class="border-box col-2" >
        Name
      </div>
      <div class="border-box col-2" >
        Email
      </div>
      <div class="border-box col-2">
        Quantity
      </div>
      <div class="border-box col-2" >
        Allergies
      </div>
      <div class="border-box col-2" >
        Pick Up Week
      </div>
    </div>
    <div class="row">
     <div class="border-box col-2">
        Cinnamon Rolls
      </div>
      <div class="border-box col-2">
        Jonathan Smith
      </div>
      <div class="border-box col-2">
        johnsmith@gmail.com
      </div>
      <div class="border-box col-2">
        12
      </div>
      <div class="border-box col-2">
        Almonds
      </div>
      <div class="border-box col-2">
        April 14, 2024
      </div>
    </div>
    <div class="row">
      <div class="border-box col-2">
      </div>
      <div class="border-box col-2">
      </div>
      <div class="border-box col-2">
      </div>
      <div class="border-box col-2">
      </div>
       <div class="border-box col-2">
        Peanuts
     </div>
    </div>
  </div>
  </div>
  </section>
  </div>



<div class="buttons">
 <h2 class="custom-h2">
      <button class="accept-button">Accept</button>
      <button class="reject-button">Reject</button>
 </h2>
 </div>

<div class="styling1">
<!-- Add custom order 2: funfetti stuffed cookies -->
<h2 class="custom-h2">Custom Order 2</h2>
</div>
    <div class="container">
    <div class="row">
      <div class="border-box col-2">
        Product
      </div>
      <div class="border-box col-2">
        Name
      </div>
      <div class="border-box col-2">
        Email
      </div>
      <div class="border-box col-2">
        Quantity
      </div>
      <div class="border-box col-2">
        Allergies
      </div>
      <div class="border-box col-2">
        Pick Up Week
      </div>
    </div>
    <div class="row">
     <div class="border-box col-2">
        Funfetti Stuffed Cookies
      </div>
      <div class="border-box col-2">
        Jane Doe
      </div>
      <div class="border-box col-2">
        jane21@yahoo.com
      </div>
      <div class="border-box col-2">
        6
      </div>
      <div class="border-box col-2">
        None
      </div>
      <div class="border-box col-2">
        May 2nd, 2024
      </div>
    </div>
</div>
<div class="buttons1">
 <h2 class="custom-h2">
      <button class="accept-button">Accept</button>
      <button class="reject-button">Reject</button>
 </h2>
 </div>

<div class="styling2">
<!-- Add custom order 3: chocolate babka -->
<h2 class="custom-h2">Custom Order 3</h2>
</div>
    <div class="container">
    <div class="row">
      <div class="border-box col-2">
        Product
      </div>
      <div class="border-box col-2">
        Name
      </div>
      <div class="border-box col-2">
        Email
      </div>
      <div class="border-box col-2">
        Quantity
      </div>
      <div class="border-box col-2">
        Allergies
      </div>
      <div class="border-box col-2">
        Pick Up Week
      </div>
    </div>
    <div class="row">
     <div class="border-box col-2">
        Chocolate Babka
      </div>
      <div class="border-box col-2">
        Mary Brown
      </div>
      <div class="border-box col-2">
        m.brown14@hotmail.com
      </div>
      <div class="border-box col-2">
        1
      </div>
      <div class="border-box col-2">
        None
      </div>
      <div class="border-box col-2">
        May 2nd, 2024
      </div>
    </div>
  </div>
<div class="buttons2">
 <h2 class="custom-h2">
      <button class="accept-button">Accept</button>
      <button class="reject-button">Reject</button>
 </h2>
 </div>

<!-- Java Script to accept custom orders -->
<script>
 function acceptProduct() {alert("Custom order accepted!");}
</script>

{% endblock %}



