{% extends 'base.html' %}

{% block page_title %}Product Analytics{% endblock %}

{% block page_content %}

    <link rel="stylesheet" href="/css/product-analytics.css">

<!-- Product analytics content -->
<h1><strong>Product Analytics</strong><br></h1>

<!-- Two column formatting style -->
<div class="container">
    <!-- Orders by Product Section -->
    <div class="orders-by-product">
        <h2><strong>Orders by Product</strong><br>January 2023 - December 2023</h2>
        <p><strong>Filter By:</strong> Year</p>
        <img src="/assets/ordersbyproduct.jpg" alt="Orders by Product">
    </div>
    <!-- Products by Time Section -->
    <div class="products-by-time">
        <h2><strong>Products by Time</strong><br>January 2023 - December 2023</h2>
        <p><strong>Filter By:</strong> Year</p>
        <img src="/assets/productbytime.jpg" alt="Products by Time">
    </div>
</div>

{% endblock %}

